
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="row align-items-center">
    <p>
      <a class="navbar-brand" href="#">
        <%= image_tag "cocktail.png", alt: "alttext" %>
      </a>
    </p>
    <p class="navbar-span">Cocktails.dB</p>
  </div>

</div>
