.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-span {
  font-family: "Amatic SC";
  font-size: 48px;
  color: #FFF;
  border: solid 2px white;
  padding: 2px 5px;
  background: black;
}

.navbar-black {
  background: #000;
}
